/* FontAwesome for working BootSnippet :> */
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');

.container{
    padding-top: 50px;
}

#messagebox{
    border: solid 1px #cecece;
    min-height: 100px;
    color: #4B515D;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    border-radius: 0px;
    background-color: white;
}

#messagebox.success{
    border: solid 1px #00C851;
    border-left: solid 8px #00C851;
}

#messagebox.fail{
    border: solid 1px #ff4444;
    border-left: solid 8px #ff4444;
}

#messagebox.warning {
    border: solid 1px #ffbb33;
    border-left: solid 8px #ffbb33;
}

#messagebox-icon{
    padding: 1em;
}

#messagebox-detail-link{
    margin-left: 1em;
    margin-right: 1em;
    position: relative;
    right: 0;
}

#messagebox-header{
    margin-left: 1%!important;
    margin-right: 1%!important;
    margin-bottom: 0px;
    min-height: 61px!important;
    border-top: solid 1px lightgray;

}

#expanded-status{
    border: solid 1px black;
}

.jumbotron {
    max-height: 100%!important;
    padding: 1rem 2rem!important;
}

.row-padding-15 {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}

.row-padding-left-15 {
    padding-left: 15px!important;
}

.row-app-icon-container {
    
    height: 40px;
}

.row-app-icon {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.process-status-app-icon {
    height: 80%;
}


.jumbotron-title-container {
    padding-top: 20px!important;
    margin-left: 0px!important;
    padding-left: 0px!important;
    /* color: white!important; */
}

.tinted-image {
    /* background: url(../images/Ambient_Pattern_10_Technology_RGB.png) center center no-repeat,
    linear-gradient(60deg, rgba(0,163,13,1) 0%, rgba(0,250,4,1) 100%); */
}


.overflow-textarea {
    overflow-x: scroll;
    overflow-y: scroll;
    white-space: nowrap
}

.monospace {
    font-family: 'Lucida Console', Monaco, monospace!important;
}

.text-smaller {
    font-size: 70%!important;
}

body {
    background-color: rgb(245,245,245);
}

/* drag and drop */
.box {

    background-color: black;
    position: relative;
    top: 5px;
    left: 5px;
    cursor: pointer;
  }
  
  .held {
    border: solid 10px black;
    background-color: black;
  }
  
  .holder {
    height: 110px;
    width: 110px;
    margin: 10px;
    border: solid 5px black;
    background-color: white;
    display: inline-block;
  }
  
  .hovered {
    border: dotted 5px black;
  }
  
  .invisible {
    display: none;
  }
  
  #container2 {
    margin: auto;
    top: 100px;
    width: 400px;
    position: relative;
  }