<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
  <meta content="" name="ATCP DevOps Dashboard">
  <meta content="" name="ATCP">
  <title>{{navbarTitle}}</title>
  <link href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" rel="stylesheet">
</head>
<body>
  <!-- Header/Jumbotron -->
  <!-- Navbar -->
  <nav class="navbar navbar-dark bg-dark">
      <span class="navbar-brand mb-0 h1 py-0">{{navbarTitle}}</span> <button class="btn btn-sm btn-secondary py-0" id="menu-toggle" (click)="shouldShow = !shouldShow; changeText()" [ngClass]="{'btn-secondary': shouldShow, 'btn-warning': !shouldShow}"><i class="fa" [ngClass]="{'fa-cog': shouldShow, '': !shouldShow}"></i> {{editButton}}</button>
    </nav>
  <div class="jumbotron jumbotron-fluid tinted-image my-0">
      <div class="container jumbotron-title-container py-0">
        <!-- <h1 class="display-4">Title Here</h1> -->
        <h1 class="py-0">{{title}}</h1>
        <p class="lead py-0">{{description}}</p>
      </div>
    </div><!-- /#header-jumbotron-wrapper -->
  <div class="d-flex" id="wrapper" [ngClass]="{'toggled': shouldShow, '': !shouldShow}">
    <!-- Sidebar -->
    <div class="bg-light" id="sidebar-wrapper">
      <div class="sidebar-heading py-2">
        Tools
      </div>
      <div class="list-group list-group-flush">
        <!-- <a class="list-group-item list-group-item-action bg-light py-1" href="#"><small>Source Control Management</small></a> -->
        <a class="list-group-item list-group-item-action bg-light py-1" href="#"><small>All Tools</small></a>        <div class="m-2">
          <!-- Sorting -->
          <div cdkDropList (cdkDropListDropped)="drop($event)">
            <!-- Draggable, Drop / Selection Area -->
            <div
            cdkDropList
            #sidebar="cdkDropList"
            [cdkDropListData]="tools"
            [cdkDropListConnectedTo]="[selection]"
            class="drop-area-sidebar"
            (cdkDropListDropped)="drop($event)">
              <div class="row m-2">
                <div *ngFor="let tool of tools" class="col-sm-5 bg-white sidebar-item m-2" cdkDrag>
                  <img alt="Responsive image" class="sidebar-icon" src="{{tool.logoUrl}}">
                  <div *cdkDragPlaceholder class="col-md-4 selection-item-preview mx-2"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <a class="list-group-item list-group-item-action bg-light" href="#"><small>Static Code Analysis</small></a>
        <a class="list-group-item list-group-item-action bg-light" href="#"><small>Repository Manager</small></a>
        <a class="list-group-item list-group-item-action bg-light" href="#"><small>Monitoring</small></a>
        <a class="list-group-item list-group-item-action bg-light" href="#"><small>Data Visualization</small></a>
        <a class="list-group-item list-group-item-action bg-light" href="#"><small>Other Tools</small></a> -->
      </div>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid" style="padding: 0!important">
        <!-- Main Panels -->
        <div class="container-fluid">
          <div class="row my-4">
            <div class="col-lg-7">
              <div class="alert alert-info" role="alert">{{dragHelp}}</div>
              <div
              cdkDropList
              #selection="cdkDropList"
              [cdkDropListData]="altTools"
              [cdkDropListConnectedTo]="[sidebar]"
              class="drop-area-selection"
              (cdkDropListDropped)="drop($event)">
                <!-- Process Status Row / Drop Area / Selection Area -->
                <div class="row row-padding-15 selection-area">
                  <div *ngFor="let altTool of altTools" class="col-sm-4" cdkDrag>
                    <div class="row px-2 py-2">
                      <div class="col-md-12 bg-white selection-item {{altTool.status}}">
                          <div class="row py-2">
                            <img alt="Responsive image" class="selection-icon" src="{{altTool.logoUrl}}">
                          </div>
                          <div class="row selection-description p-2">
                            <small>{{altTool.description}}</small>
                            <div id="selectedTool" style="display: none">{{altTool.name}}</div>
                          </div>
                          <div class="row p-2">
                            <div aria-label="Basic example" class="btn-group mx-auto" role="group">
                              <button class="btn btn-light btn-sm" type="button" id="start-button">Start</button> <button class="btn btn-light btn-sm" type="button">Stop</button> <button class="btn btn-light btn-sm" type="button">Logs</button>
                            </div>
                          </div>
                      </div>
                    </div>
                    <div *cdkDragPlaceholder class="col-md-5 sidebar-item-preview"></div>
                  </div>
                </div>
              </div>
              <div class="row row-padding-15 pull-right">
                <!-- Toolbar -->
                <button class="btn btn-primary btn-success" id="start_setup" type="button" (click)="generateJSON()">Start</button>
              </div><br>
              <br>
              <br>
              <!-- Ansible Logs -->
              <div class="col-md-12 px-0">
                <div class="card px-3 py-2 my-3">
                  <div class="form-group">
                    <label class="text-small" for="containerLogs">Ansible Logs</label> 
                    <textarea class="form-control bg-dark monospace text-white text-smaller overflow-textarea" id="ansibleLogs" readonly rows="10"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="card">
                <!-- <h5 class="card-header">Console</h5> -->
                <div class="card-body py-2 px-3">
                  <div class="form-group">
                    <label class="text-small" for="containerList">Containers List</label> 
                    <textarea class="form-control bg-dark monospace text-white text-smaller overflow-textarea" id="containerList" readonly rows="10">CONTAINERS ID        IMAGE              STATUS              PORTS               NAMES
                        4c01db0b339c        ubuntu:12.04                 bash                   17 seconds ago       Up 16 seconds       3300-3310/tcp       webapp
                        d7886598dbe2        crosbymichael/redis:latest   /redis-server --dir    33 minutes ago       Up 33 minutes       6379/tcp            redis,webapp/db</textarea>
                  </div>
                  <div class="form-group">
                    <label class="text-small" for="containerLogs">Containers Logs</label> 
                    <textarea class="form-control bg-dark monospace text-white text-smaller overflow-textarea" id="containerLogs" readonly rows="10"></textarea>
                  </div>
                </div>
              </div><br>
            </div>
          </div>
        </div><!-- /#main-panels-wrapper -->
      </div>
    </div><!-- /#page-content-wrapper -->
  </div><!-- /#wrapper -->
  <!-- Bootstrap core JavaScript -->
  <!-- <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->
  <!-- Third Party Scripts -->
  <!-- Minimal Scroll Bars, use by adding data-simplebar inside an element with overflow -->
  <script src="https://unpkg.com/simplebar@latest/dist/simplebar.js">
  </script>
</body>
</html>