<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
  <meta content="" name="ATCP DevOps Dashboard">
  <meta content="" name="ATCP">
  <title>{{title}}</title>
  <link href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" rel="stylesheet">
</head>
<body>
  <!-- Header/Jumbotron -->
  <!-- Navbar -->
  <nav class="navbar navbar-dark bg-dark">
      <span class="navbar-brand mb-0 h1 py-0">Dashboard</span> <button class="btn btn-sm btn-secondary py-0" id="menu-toggle" (click)="shouldShow = !shouldShow; changeText()" [ngClass]="{'btn-secondary': shouldShow, 'btn-success': !shouldShow}"><i class="fa" [ngClass]="{'fa-cog': shouldShow, '': !shouldShow}"></i> {{editButton}}</button>
    </nav>
  <div class="jumbotron jumbotron-fluid tinted-image my-0">
      <div class="container jumbotron-title-container py-0">
        <!-- <h1 class="display-4">Title Here</h1> -->
        <h1 class="py-0">Dashboard</h1>
        <p class="lead py-0">This is the mockup site, newer code in develop or feature branches</p>
      </div>
    </div><!-- /#header-jumbotron-wrapper -->
  <div class="d-flex" id="wrapper" [ngClass]="{'toggled': shouldShow, '': !shouldShow}">
    <!-- Sidebar -->
    <div class="bg-light" id="sidebar-wrapper">
      <div class="sidebar-heading py-2">
        Tools <button class="btn btn-sm btn-light pull-right text-smaller" id="sidebar-toggle" (click)="shouldShow = !shouldShow">
          <i class="fa fa-eye-slash"></i> Hide</button>
      </div>
      <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action bg-light py-1" href="#"><small>Source Control Management</small></a> <a class="list-group-item list-group-item-action bg-light" href="#"><small>Continuous Integration</small></a> <a class="list-group-item list-group-item-action bg-light" href="#"><small>Static Code Analysis</small></a> <a class="list-group-item list-group-item-action bg-light" href="#"><small>Repository Manager</small></a> <a class="list-group-item list-group-item-action bg-light" href="#"><small>Monitoring</small></a> <a class="list-group-item list-group-item-action bg-light" href="#"><small>Data Visualization</small></a> <a class="list-group-item list-group-item-action bg-light" href="#"><small>Other Tools</small></a> <!-- <div class="holder"></div> -->
      </div>
    </div><!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid" style="padding: 0!important">
        <!-- Main Panels -->
        <div class="container-fluid">
          <div class="row my-4">
            <div class="col-lg-7">
              <!-- Process Status Row-->
              <div class="row row-padding-15">
                <!-- Process Box -->
                <div class="col-sm-4">
                  <div class="success" id="messagebox">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="row row-app-icon-container">
                          <div class="row-app-icon"><img alt="Responsive image" class="process-status-app-icon" src="../assets/img/gitlab.png"></div>
                        </div>
                        <div class="row h6 p-2" id="messagebox-header">
                          <small>Git Repository Management and Code Review</small>
                        </div>
                        <div class="row p-2">
                          <div aria-label="Basic example" class="btn-group mx-auto" role="group">
                            <button class="btn btn-light btn-sm" type="button">Start</button> <button class="btn btn-light btn-sm" type="button">Stop</button> <button class="btn btn-light btn-sm" type="button">Logs</button>
                          </div><!-- <div class="btn-group mx-auto" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-light btn-sm"><i class="fa fa-play"></i></button>
                                <button type="button" class="btn btn-light btn-sm"><i class="fa fa-stop"></i></button>
                                <button type="button" class="btn btn-light btn-sm"><i class="fa fa-list"></i></button>
                              </div> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- Process Box -->
                <div class="col-sm-4">
                  <div class="success" id="messagebox">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="row row-app-icon-container">
                          <div class="row-app-icon"><img alt="Responsive image" class="process-status-app-icon" src="../assets/img/jenkins.png"></div>
                        </div>
                        <div class="row h6 p-2" id="messagebox-header">
                          <small>CI and Automation Server</small>
                        </div>
                        <div class="row p-2">
                          <div aria-label="Basic example" class="btn-group mx-auto" role="group">
                            <button class="btn btn-light btn-sm" type="button">Start</button> <button class="btn btn-light btn-sm" type="button">Stop</button> <button class="btn btn-light btn-sm" type="button">Logs</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- Process Box -->
                <div class="col-sm-4 container2">
                  <div class="" id="messagebox">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="row row-app-icon-container">
                          <div class="row-app-icon"><img alt="Responsive image" class="process-status-app-icon" src="../assets/img/sonar.png"></div>
                        </div>
                        <form class="px-3" id="tool-params" name="tool-params" data-simplebar>
                          <div class="form-group">
                            <label for="sonar_jdbc_username"><small>JDBC Username</small></label> <input aria-describedby="" class="form-control form-control-sm" id="sonar_jdbc_username" placeholder="sonar" type="email">
                          </div>
                          <div class="form-group">
                            <label for="sonar_jdbc_password"><small>JDBC Password</small></label> <input aria-describedby="" class="form-control form-control-sm" id="sonar_jdbc_password" placeholder="" type="password" value="sonar">
                          </div>
                          <div class="form-group">
                            <label for="mysql_root_password"><small>MySQL Root Password</small></label> <input aria-describedby="" class="form-control form-control-sm" id="mysql_root_password" placeholder="" type="password" value="sonar">
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- Process Status Row-->
              <div class="row row-padding-15">
                <!-- Process Box -->
                <div class="col-sm-4">
                  <div class="success" id="messagebox">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="row row-app-icon-container">
                          <div class="row-app-icon"><img alt="Responsive image" class="process-status-app-icon" src="../assets/img/gitlab.png"></div>
                        </div>
                        <div class="row h6 p-2" id="messagebox-header">
                          <small>Git Repository Management and Code Review</small>
                        </div>
                        <div class="row p-2 text-black-50 row-padding-left-15">
                          <div aria-label="Basic example" class="btn-group mx-auto" role="group">
                            <button class="btn btn-light btn-sm" type="button">Start</button> <button class="btn btn-light btn-sm" type="button">Stop</button> <button class="btn btn-light btn-sm" type="button">Logs</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- Process Box -->
                <div class="col-sm-4">
                  <div class="warning" id="messagebox">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="row row-app-icon-container">
                          <div class="row-app-icon"><img alt="Responsive image" class="process-status-app-icon" src="../assets/img/jenkins.png"></div>
                        </div>
                        <div class="row h6 p-2" id="messagebox-header">
                          <small>Continuous Integration and Automation Server</small>
                        </div>
                        <div class="row p-2 text-black-50 row-padding-left-15">
                          <div aria-label="Basic example" class="btn-group mx-auto" role="group">
                            <button class="btn btn-light btn-sm" type="button">Start</button> <button class="btn btn-light btn-sm" type="button">Stop</button> <button class="btn btn-light btn-sm" type="button">Logs</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- Process Box -->
                <div class="col-sm-4">
                  <div class="success" id="messagebox">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="row row-app-icon-container">
                          <div class="row-app-icon"><img alt="Responsive image" class="process-status-app-icon" src="../assets/img/sonar.png"></div>
                        </div>
                        <div class="row h6 p-2" id="messagebox-header">
                          <small>Static Code Analysis<br>
                          <br></small>
                        </div>
                        <div class="row p-2 text-black-50 row-padding-left-15">
                          <div aria-label="Basic example" class="btn-group mx-auto" role="group">
                            <button class="btn btn-light btn-sm" type="button">Start</button> <button class="btn btn-light btn-sm" type="button">Stop</button> <button class="btn btn-light btn-sm" type="button">Logs</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- Toolbar Row -->
              <div class="row row-padding-15 pull-right">
                <!-- Toolbar -->
                <button class="btn btn-primary btn-success" id="start_setup" type="button">Start</button>
              </div><br>
              <br>
              <br>
              <!-- Ansible Logs Row -->
              <div class="col-md-12 px-0">
                <div class="card px-3 py-2 my-3">
                  <div class="form-group">
                    <label class="text-small" for="containerLogs">Ansible Logs</label> 
                    <textarea class="form-control bg-dark monospace text-white text-smaller overflow-textarea" id="ansibleLogs" readonly rows="10"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="card">
                <!-- <h5 class="card-header">Console</h5> -->
                <div class="card-body py-2 px-3">
                  <div class="form-group">
                    <label class="text-small" for="containerList">Containers List</label> 
                    <textarea class="form-control bg-dark monospace text-white text-smaller overflow-textarea" id="containerList" readonly rows="10">CONTAINERS ID        IMAGE              STATUS              PORTS               NAMES
                        4c01db0b339c        ubuntu:12.04                 bash                   17 seconds ago       Up 16 seconds       3300-3310/tcp       webapp
                        d7886598dbe2        crosbymichael/redis:latest   /redis-server --dir    33 minutes ago       Up 33 minutes       6379/tcp            redis,webapp/db</textarea>
                  </div>
                  <div class="form-group">
                    <label class="text-small" for="containerLogs">Containers Logs</label> 
                    <textarea class="form-control bg-dark monospace text-white text-smaller overflow-textarea" id="containerLogs" readonly rows="10"></textarea>
                  </div>
                </div>
              </div><br>
            </div>
          </div>
        </div><!-- /#main-panels-wrapper -->
      </div>
    </div><!-- /#page-content-wrapper -->
  </div><!-- /#wrapper -->
  <!-- Bootstrap core JavaScript -->
  <!-- <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->
  <!-- Third Party Scripts -->
  <!-- Minimal Scroll Bars, use by adding data-simplebar inside an element with overflow -->
  <script src="https://unpkg.com/simplebar@latest/dist/simplebar.js">
  </script> 
</body>
</html>